<div class="container color1">
	<?php if ($action === 'connect'):	?>
	<h2>Connexion</h2>
	<form action="index.php?p=connect" method="post">
		<input type="text" name="login" placeholder="Login" required>
		<input type="password" name="passwd" placeholder="Password" required>
		<input type="submit" value="Log In">
	</form>

	<?php elseif($action === 'register'): ?>
	<h2>Inscription</h2>
	<form action="index.php?p=connect&action=register" method="post">
		<input type="text" name="login" placeholder="Login" required>
		<input type="email" name="mail" placeholder="E-mail" required>
		<input type="password" name="passwd1" placeholder="Password" required>
		<input type="password" name="passwd2" placeholder="Confirmation" required>
		<input type="submit" value="Register">
	</form>

	<?php elseif($action === 'validate'): ?>
	<h2>Validation</h2>
	<form action="index.php" autocomplete="off">
		<input type="hidden" name="p" value="connect">
		<input type="hidden" name="action" value="validate">
		<input type="text" name="token" placeholder="e.g. : b9fb02a2" required>
		<input type="submit" value="Activer">
	</form>

	<?php elseif($action === 'vregister'): ?>
	<p>Votre inscrption à bien été prise en compte mais votre compte est inactif.</p>
	<p>Vous allez recevoir un e-mail avec un lien d'activation.</p>
	<p>Si le lien ne fonctionne pas, cliquez <a href="index.php?p=connect&action=validate">ici</a> et collez votre code d'activation.</p>

	<?php elseif($action === 'vconnect'): ?>
	<p>Votre connexion à bien été prise en compte.</p>
	<script>
		window.setTimeout("window.location.href = \"index.php\"", 2000);
	</script>
	<?php elseif($action === 'vvalidate'): ?>
	<p>Votre compte à bien été activé.</p>
	<script>
		window.setTimeout("window.location.href = \"index.php\"", 3000);
	</script>
	<?php elseif($action === 'fregister'): ?>
	<p>Il y a une erreur dans le formulaire d'inscription !</p>
	<script>
		window.setTimeout("history.go(-1)", 3000);
	</script>
	<?php elseif($action === 'fconnect'): ?>
	<p>Il y a une erreur dans le formulaire de connexion !</p>
	<script>
		window.setTimeout("history.go(-1)", 3000);
	</script>
	<?php elseif($action === 'fvalidate'): ?>
	<p>Le code d'activation n'est pas valide !</p>
	<script>
		window.setTimeout("history.go(-1)", 3000);
	</script>
	<?php elseif($action === 'logout'): ?>
	<p>Vous vous êtes bien déconnecté.</p>
	<script>
		window.setTimeout("window.location.href = \"index.php\"", 3000);
	</script>
	<?php endif; ?>
</div>