	<footer>
		<p><a href="https://bitbucket.org/bananaservers/unicorn">Project Unicorn</a> &copy; 2016 <span>Site créé par <a href="https://bitbucket.org/wetshark/">WetShark Web</a></span></p>
	</footer>
	<script src="js/main.js"></script>
</body>
</html>