<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php if($style == "error"): ?>
	<meta http-equiv="refresh" content="5;url=index.php">
	<?php endif; ?>
	<title>Project Unicorn</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/<?php echo $style; ?>.css">
</head>
<body>
	<header>
		<nav class="topBar">
			<ul>
				<?php if(isset($_SESSION['user'])): 
					if ($_SESSION['user']->getStatus()['isAdmin'] === '1'): ?>
				<li><a href="#">Admin Panel</a></li>
				<?php endif; ?>
				<li class="separator"></li>
				<li><a class="user" href="index.php?p=membercp" title="<?php echo $_SESSION['user']->getUsername(); ?>"><img src="<?php echo $_SESSION['user']->getUserImage(); ?>" alt="<?php echo $_SESSION['user']->getUsername(); ?>"></a></li>
				<li><a href="index.php?p=logout">Se déconnecter</a></li>
				<?php else: ?>
				<li class="separator"></li>
				<li><a href="index.php?p=connect">Se connecter</a></li>
				<li><a href="index.php?p=connect&action=register">S'inscrire</a></li>
				<?php endif; ?>
			</ul>
		</nav>
	</header>
	<div class="wrapper">
		<main>
			<header>
				<div class="logo color1">
					<!-- <img src="images/logo.png" alt="Logo"> -->
					<ul>
						<li><a href="#" class="fa fa-twitter-square fa-2x" title="Twitter"></a></li>
						<li><a href="#" class="fa fa-facebook-official fa-2x" title="Facebook"></a></li>
						<li><a href="#" class="fa fa-google fa-2x" title="Google+"></a></li>
					</ul>
				</div>
				<nav class="color1">
					<ul>
						<?php foreach ($pages as $value): ?>
							<li><a href="<?php echo $value['link']; ?>"><i class="fa <?php echo $value['icon']; ?> fa-fw"></i>&nbsp;<?php echo $value['pageName']; ?></a></li>
						<?php endforeach; ?>
						<!-- <li><a href="index.php"><i class="fa fa-home fa-fw"></i>&nbsp;Accueil</a></li>
						<li><a href="#"><i class="fa fa-newspaper-o fa-fw"></i>&nbsp;Actualités</a></li>
						<li><a href="#"><i class="fa fa-hand-spock-o fa-fw"></i>&nbsp;Autre</a></li> -->
					</ul>
					<form action="index.php">
						<input type="search" name="s" id="search" placeholder="RECHERCHER" required>
						<input type="submit" value="OK">
					</form>
				</nav>
			</header>