	<div class="container">
		<div>
			<div class="slider">
				<p>slider</p>
			</div>
			<section>
				<h2 class="color1">Dernières actualités</h2>
				<article>
					<h3>Title</h3>
					<time class="color1" datetime="2015-01-01">The Date</time>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla laudantium adipisci illo minima dolores consequatur cum corporis at earum aut qui nihil, optio quos fuga quaerat, dignissimos harum doloribus vitae?</p>
					<a class="color1" href="#">Read more...</a>
				</article>
				<nav class="color1">
					<ul>
						<li>
							<a href="#">Prev</a>
							<li>
								<ul>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
							</li>
							<li><a href="#">Next</a></li>
						</li>
					</ul>
				</nav>
			</section>
		</div>
		<aside>
			<div>
				<video width="100%" controls="">
					<source src="videos/SampleVideo_1mb.mp4" type="video/mp4">
					<source src="videos/SampleVideo_1mb.flv" type="video/flv">
					Votre navigateur ne supporte pas la balise vidéo :(
				</video>
			</div>
			<div><a href="#"><img src="images/pub.png" alt="pub" draggable="false"></a></div>
			<div><a href="#"><img src="images/pub.png" alt="pub" draggable="false"></a></div>
		</aside>
	</div>
</main>