<div class="container color1">
	<h2>User Control Panel - <strong><?php echo $_SESSION['user']->getUsername(); ?></strong></h2>
	<div>
		<div class="form">
			<h3>Changer son E-mail</h3>
			<form action="index.php?p=membercp" method="post">
				<input type="text" value="<?php echo $_SESSION['user']->getEmail(); ?>" name="mail" placeholder = "Votre Email">
				<input type="submit">
			</form>
		</div>
		<div class="form">
			<h3>Changer son mot de passe</h3>
			<form action="index.php?p=membercp" method="post">
				<input type="password" name="oldPasswd" placeholder="Ancien mot de passe">
				<input type="password" name="passwd1" placeholder="Nouveau mot de passe">
				<input type="password" name="passwd2" placeholder="Confirmer">
				<input type="submit">
			</form>
		</div>
		<div class="form">
			<h3>Changer son avatar</h3>
			<form action="index.php?p=membercp" enctype="multipart/form-data" method="post">
				<div class="uploader">
					<input type="text" id="uploadFile" value="Choose file..." disabled>
					<label>
						<input type="file" id="uploadButton" name="avatar" accept="image/*">
						<span>Browse File</span>
					</label>
				</div>
				<input type="submit">
			</form>
		</div>
	</div>
</div>