.container {
	margin-bottom: 10px;
	padding: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container>form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.container>form>input {
	margin: 5px;
	border: none;
	padding: 5px;
}

.container>form>input[type="submit"] {
	background-color: #3DBDFF;
	color: #fff;
	font-weight: bold;
}

@media screen and (min-width: 470px) {
	.container>form {
		width: 50%;
	}
}

@media screen and (min-width: 680px) {
	.container>form {
		width: 30%;
	}
}

@media screen and (min-width: 820px) {
	.container>form {
		width: 20%;
	}
}