.container {
	background-color: #A1A1A1;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}

.container>h2 {
	background-color: #B0B0B0;
	margin-bottom: 5px;
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
}

.container>div {
	background-color: #B0B0B0;
	padding: 5px;
	line-height: 1.5;
}