* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	background-color: #403A3A;
	font-family: sans-serif;
}

.color1 {
	background-color: #3DE6FF;
}

.topBar {
	background-color: #202020;
	margin-bottom: 30px;
}

.topBar>ul {
	display: flex;
	justify-content: center;
	max-width: 1400px;
	margin: 0 auto;
}

.topBar>ul>li:last-child>a {
	border-left: 1px solid #fff;
}

.topBar>ul>li {
	vertical-align: middle;
}

.topBar a, .topBar p {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 2px 20px;
	margin: 5px 0;
	transition: background-color 0.5s;
}

.topBar a:hover {
	background-color: rgba(255,255,255,0.4);
}

.topBar a.user {
	padding: 1px 20px;
}

.topBar img {
	max-height: 18px;
	background-color: #fff;
	vertical-align: middle;
}

li.separator {
	display: none;
	flex-grow: 1;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

.logo {
	width: 100%;
	position: relative;
	min-height: 100px;
}

.logo>ul {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	background-color: #202020;
	padding: 0 5px;
}

.logo>ul>li>a {
	padding: 0 3px;
	margin: 5px 0;
	display: block;
	color: #808080;
	text-decoration: none;
	transition: color 0.5s;
}

.logo>ul>li>a.fa-twitter-square:hover {
	color: #24add9;
}

.logo>ul>li>a.fa-facebook-official:hover {
	color: #39569b;
}

.logo>ul>li>a.fa-google:hover {
	color: #dd5044;
}

main>header>nav {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
  padding: 10px;
  margin: 10px 0;
}

main>header>nav>form {
	display: flex;
}

main>header>nav input {
	border: none;
	padding: 5px;
	flex-grow: 1;
}

main>header>nav input[type="submit"] {
	color: transparent;
	background: url(../images/search.png) #3DBDFF no-repeat;
	background-position: 50% 50%;
	background-size: 60%;
	flex-grow: 0;
}

main>header>nav ul {
	margin-top: 10px;
}

main>header>nav li {
	margin: 2px 0;
}

main>header>nav li>a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 2px 5px;
	background: linear-gradient(#F2ECDC, #F2ECDC) #3DBDFF left no-repeat;
	background-size: 0 100%;
	transition: all 0.5s;
}

main>header>nav li>a:hover {
	background-size: 100% 100%;
	color: #3DBDFF;
}

footer {
	padding: 20px 0;
	background-color: #202020;
}

footer>p {
	color: #fff;
	text-align: center;
}

footer span {
	border-left: 1px solid #fff;
	padding-left: 5px;
	margin-left: 2px;
}

footer a {
	text-decoration: none;
	color: #BABABA;
}

@media screen and (min-width: 470px) {
	main>header>nav {
		flex-direction: row;
		justify-content: space-between;
	}

	main>header>nav>ul {
		display: flex;
		justify-content: flex-start;
		margin-top: 0;
	}

	main>header>nav>ul>li {
		margin: 0 2px;
	}

	main>header>nav>ul>li>a {
		padding: 5px;
		background: linear-gradient(#F2ECDC, #F2ECDC) #3DBDFF top no-repeat;
		background-size: 100% 0;
	}

	main>header>nav input[type="search"] {
		width: 20px;
		transition: width 1s;
	}

	main>header>nav input[type="search"]:focus {
		width: 130px;
	}
}

@media screen and (min-width: 680px) {
	main>header>nav input[type="search"] {
		width: auto;
	}

	main>header>nav input[type="search"]:focus {
		width: auto;
	}
}

@media screen and (min-width: 820px) {
	.wrapper {
		width: 90%;
		max-width: 1200px;
	}

	li.separator {
		display: block;
	}
}