.container {
	display: flex;
	margin-bottom: 5px;
}

.container>div {
	width: 100%;
}

.slider {
	display: none;
	min-height: 200px;
	background-color: #fff;
	margin-bottom: 5px;
}

.container>aside {
	display: none;
}

.container section {
	background-color: #202020;
	padding: 5px 0;
}

.container section>h2 {
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.container section article>h3 {
	display: none;
}

.container section article {
	background-color: #fff;
	line-height: 1.4;
	overflow: hidden;
	margin-bottom: 5px;
}

.container section article>time {
	float: left;
	display: inline-block;
	padding: 0 10px;
	margin-right: 5px;
}

.container section article>p {
	text-align: justify;
	margin: 0 10px 5px;
}

.container section article>a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.container section nav {
	padding: 5px 10px;
}

.container section nav li {
	margin: 0 2px;
}

.container section nav li>a {
	background-color: #3DBDFF;
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.5s, color 0.5s;
}

.container section nav li>a:hover {
	background-color: #F2ECDC;
	color: #3DBDFF;
}

.container section nav>ul {
	display: flex;
	justify-content: center;
}

.container section nav>ul ul {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 470px) {
	.slider {
		display: block;
	}
}

@media screen and (min-width: 820px) {
	.container>div {
		width: 70%;
	}

	.container>aside {
		display: block;
		width: 30%;
		margin-left: 5px;
	}

	.container>aside>div {
		font-size: 0;
		margin-bottom: 5px;
	}

	.container>aside>div:nth-child(n+2) {
		background-color: rgba(250,250,250,0.8);
		overflow: hidden;
		min-height: 100px;
	}

	.container>aside>div:nth-child(n+2)>a {
		display: block;
		color: #000;
		text-decoration: none;
	}

	.container>aside>div:nth-child(n+2)>a>img {
		width: 100%;
	}
}