.container {
	margin-bottom: 10px;
	padding: 5px;
}

.container>h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

.container>h2>strong {
	color: #444;
}

.container>div {
	align-self: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	border-bottom: 1px solid #444;
}

.form form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.container .form:last-child {
	border: none;
}

.uploader input[disabled] {
	color: black;
	margin-bottom: 0;
}

.uploader input[type="file"] {
	display: none;
}

.uploader span {
	display: block;
	background-color: #3DBDFF;
	color: #fff;
	margin: 0 5px 5px;
	padding: 5px;
}

.container form input {
	margin: 5px;
	border: none;
	padding: 5px;
}

.container form>input[type="submit"] {
	background-color: #3DBDFF;
	color: #fff;
	font-weight: bold;
}

@media screen and (min-width: 470px) {
	.container .form {
		align-self: center;
	}
}

@media screen and (min-width: 680px) {
	.container>div {
		flex-direction: row;
	}

	.container .form {
		align-self: initial;
		align-items: flex-start;
		margin: 0 10px;
		border-right: 1px solid #444;
		border-bottom: none;
	}

	.form form {
		align-items: center;
	}

	.container form>input[type="submit"] {
		width: 40%;
	}
}

@media screen and (min-width: 820px) {
	

	
}